
<%- include("partials/header"); -%>
    <h1>Dashboard</h1>
    
    <a href="/compose"><button class="btn btn-primary" type="submit" name="button"> Compose  </button></a>
    <a href="/delete"><button class="btn btn-primary" type="submit" name="button"> Delete  </button></a>

<%- include("partials/footer"); -%>
