
  <form action="/send" method="post">
    <div class="mb-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"/>
    </div>
    <div class="mb-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" />
    </div>
    <div class="mb-3">
      <label for="message">Message:</label>
      <textarea class="form-control" id="message" rows="6" cols="30" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
